{{ "<!-- DO -->" | safeHTML }}
<section class="bg-light-gray" id="what_we_do">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-primary">{{ with .Site.Params.do.title }}{{ . }}{{ end }}</h2>
        <h3 class="section-subheading">{{ with .Site.Params.do.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    {{ range .Site.Params.do.row }}
      <div class="row text-center text-muted bg-gray">
        {{ range .list }}
          <div class="col-md-6 box-padding">
              <i class="material-icons md-96 text-primary">{{ .icon }}</i>
            <h4 class="service-heading text-muted">{{ if .url }}<a href="{{ .url | absURL }}">{{ .title | markdownify }}</a>{{ else }}{{ .title | markdownify }}{{ end }}</h4>
            <p>{{ .description | markdownify }}</p>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
